.post {
    margin-bottom: 10px;

    .date {
        color: lighten($body-font-color, 20%);
        font-family: $code-font-family;
    }
    
    .gist .lines {
        margin-bottom: 0;
    }
}
